@font-face {
  font-family: 'Comfortaa';
  src:
      url('../fonts/Comfortaa.woff2') format('woff2'),
      url('../fonts/Comfortaa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

