// Reset css
@import "vendors/reset.scss";

// Blocs de style
@import "blocs/header.scss";
@import "blocs/shoppingList.scss";
@import "blocs/edit.scss";
@import "blocs/autorisations.scss";
@import "blocs/footer.scss";

// Style global
@import "global/font.scss";

* {
  box-sizing: border-box;
}

html, 
button,
input::placeholder {
  font-family: "Comfortaa", sans-serif;
}

body {
  width: clamp(320px, 80%, 480px);
  margin: 0 auto 5.5rem;
  
}

img {
  max-width: 100%;
}

:root {
  --mint: #4fb477;
  --light-grey: #ABABAB; 
}
 