// Reset css
@import "vendors/reset.scss";

// Blocs de style
@import "blocs/map.scss";

// Style global
@import "global/font.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Comfortaa";
}

body {
  width: clamp(320px, 80%, 480px);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

:root {
  --mint: #4fb477;
}
