.edit__title {
  font-weight: 700;
  margin: 2.5rem 1.5rem 1.5rem;
  text-align: center;
}

.edit__return {
  color: var(--mint);
}

.edit__formElement {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.edit__formElement input {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
  border: 1px solid rgba(109, 109, 109, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 2.8rem;
}

.edit__btn {
  margin-top: 1.5rem;
  margin-left: auto;
  border: none;
  background: var(--mint);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  width: 50%;
}

.edit__itemWrapper {
  position: relative;
}

.edit__itemDelete {
  position: absolute;
  bottom: 0.5rem;
  right: 0.8rem;
}

.edit__addInput {
  position: relative;
}
.remove_field {
  position: absolute;
  right: 0.8rem;
  top: 1.8rem;
}
