.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: calc(100vh - 110px);
}

.error__title {
  font-size: 3rem;
  color: var(--mint);
}

.error__return {
  font-size: 1.2rem;
  color: var(--mint);
}
