.header {
  padding: 2rem 0.5rem;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header__burger {
  position: fixed;
  z-index: 999;
  background: #fff;
  height: 42px;
  width: 42px;
  border: 0.5px solid rgba(109, 109, 109, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
}
.header__burger span {
  display: block;
  height: 2px;
  background: black;
  border-radius: 5px;
  margin-top: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.header__burger span:first-child {
  width: 9px;
}

.header__burger span:last-child {
  width: 18px;
}

.header__date {
  color: var(--light-grey);
  text-transform: capitalize;
  text-align: center;
  max-width: 100px;
}
