.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper,
.form__btn {
  margin-top: 1.2rem;
}

.form__label {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}

.form__input,
.form__btn {
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
}

.form__input {
  width: 100%;
  margin: 1.2rem 0;
}

.form__btnWrapper {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}
