.localisation {
  text-align: center;
}

.localisation__title {
  font-weight: 700;
  margin: 2.5rem 1.5rem 1.5rem;
  text-align: center;
}

.localisation__search {
  position: relative;
}

.localisation__search input {
  padding: 1rem;
  border: 1px solid rgba(109, 109, 109, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 2.8rem;
  min-width: 100%;
}

.localisation__search > svg {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

.localisation__map {
  margin-top: 2rem;
  height: 50vh;
  width: 100%;
}

.localisation__favorites {
  margin-top: 2rem;
  background: var(--mint);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  text-decoration: none;
}

// CSS MAP LEAFLET
#map {
  height: 50vh;
  z-index: 1;
}

.custom-popup {
  max-width: 300px;
}

.custom-popup .leaflet-popup-content-wrapper {
  font-family: "Comfortaa";
}

.fav-wrapper {
  display: flex;
  align-items: center;
  label {
    font-weight: bold;
  }
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.6rem;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: var(--mint);
  border-color: var(--mint);
  color: #fff;
}

.autocomplete-container {
  position: absolute;
}
